/* ===== Reset & Base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f5f1f1;
  color: #060606;
  line-height: 1.6;
  padding: 20px;
}


/* Custom font*/

@font-face {
  font-family: '1456Gutenberg';
  src: url('../New/1456Gutenberg.TTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: '1456Gutenberg', sans-serif;
}

@font-face {
  font-family: 'Chapbook-Regular';
  src: url('../New/Chapbook-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'Chapbook-Regular', sans-serif;
}




/*  Header  */
header {
  text-align: center;
  padding: 60px 20px;
  background-color: #000000;
  border-bottom: 3px solid #050437;
}

header h1 {
  font-size: 3rem;
  color: #efe6e4;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  color: #ccc;
}

/*  Section Titles  */
section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0c0c0c;
  text-align: center;
}

/*  Trailer  */
.trailer {
  margin: 40px 0;
}

.video-container {
  width: 640px;
  height: 360px;
  margin: 0 auto;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}


/*  Synopsis   */
.synopsis {
  max-width: 800px;
  margin: 40px auto;
  font-size: 1.1rem;
  color: #0d0d0d;
  text-align: center;
  padding: 0 15px;
}

/* Gallery  */
.gallery {
  margin: 40px 0;
  text-align: center;
}

.gallery .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery img {
  width: 300px;
  max-width: 90%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}

.gallery img:hover {
  transform: scale(1.05);
}

/*  Footer  */
footer {
  text-align: center;
  padding: 30px 10px;
  margin-top: 40px;
  border-top: 1px solid #010014;
  background-color: #131313;
  color: #aaa;
}

footer .social a {
  color: #f3edec;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

footer .social a:hover {
  text-decoration: underline;
}
